{% block sw_cms_el_preview_banner_slider %}
    <div class="sw-cms-el-preview-banner-slider">
        <div class="slide">
            <div class="content-container">
                <div class="content">
                    <p class="headline">Lorem ipsum dolor sit amet</p>
                    <p class="btn btn-primary">Lorem ipsum</p>
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="btn btn-primary">
                <sw-icon name="regular-long-arrow-left"/>
            </div>
            <div class="btn btn-primary">
                <sw-icon name="regular-long-arrow-right"/>
            </div>
        </div>
    </div>
{% endblock %}