.cms-listing-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); // Default mobile layout

  @media(min-width: $media-breakpoint-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: $media-breakpoint-medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(min-width: $media-breakpoint-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cms-listing-grid-item {
  display: flex;
  justify-content: center;
}
