{% block sw_cms_block_banner_slider_preview %}
    <div class="sw-cms-preview-banner-slider">
        <div class="btn btn-primary">
            <sw-icon name="regular-long-arrow-left" />
        </div>
        <div class="slide">
            <div class="content-container">
                <div class="content">
                    <p class="headline">Banner Slider</p>
                    <p class="btn btn-primary"></p>
                </div>
            </div>
        </div>
        <div class="btn btn-primary">
            <sw-icon name="regular-long-arrow-right" />
        </div>
    </div>

{% endblock %}