//Media breakpoints
$media-breakpoint-small: 576px;
$media-breakpoint-medium: 768px;
$media-breakpoint-normal: 992px;
$media-breakpoint-large: 1200px;
$media-breakpoint-xl: 1600px;

//Colors
$theme-color-white: #FFFFFF;
$theme-color-black: #000000;
$theme-color-platinum: #D9D9D9;
